html, body {
    height: 100%;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-content {
    flex: 1;
}

body {
    text-align: center;
    padding: 50px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

footer {
    display: flex;
    color: black;
    font-weight: bold;
    margin-top: auto;
    position: relative;
    justify-content: space-around;
}

footer .logoLetra {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100px;
    height: auto;
}
