html, body {
    height: 100%;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-content {
    flex: 1;
}

body {
    text-align: center;
    background-image: url('resources/fondoMajano.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #333;
}
